<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iissy.springboot.mybatis.CusLinkMapper">
    <resultMap id="cuslink" type="com.iissy.springboot.model.CusLink" />
    <parameterMap id="cuslink" type="com.iissy.springboot.model.CusLink" />

    <insert id="saveUser">
        INSERT INTO `cuslink` (`name`,
                                `password`,
                                `salt`,
                                `email`,
                                `phone_number`,
                                `status`,
                                `create_time`,
                                `last_login_time`,
                                `last_update_time`)
        VALUES (#{user.name},
                #{user.password},
                #{user.salt},
                #{user.email},
                #{user.phoneNumber},
                #{user.status},
                #{user.createTime},
                #{user.lastLoginTime},
                #{user.lastUpdateTime})
    </insert>

    <delete id="deleteById">
        DELETE
        FROM cuslink
        WHERE id = #{id}
    </delete>

    <select id="selectCusLinkById" resultMap="cuslink">
        SELECT * FROM cuslink WHERE id = #{id}
    </select>
</mapper>